.cell {
  width: 45px;
  float: left;
  height: 45px;
  border: 1px solid black;
  background-color: dimgrey;
  text-align: center;
}

.board {
  max-width: 400px;
}
.is-revealed {
  background-color: black;
}
